{% extends "auctions/layout.html" %}

{% block body %}

    <h2>New Listing</h2>

    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Listing Title*">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="desc" placeholder="Listing Description*" rows="5"></textarea>
        </div>
        <div class="input-group w-25 mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input class="form-control" type="number" name="price" min="0" max="999999" step="0.01" onkeyup="enforceMinMax(this)" placeholder="Starting Price*">
        </div>
        <div class="form-group">
            <label for="categories-input">Category:</label>
            <select class="form-control" name="category" id="categories-input">
                <option selected value="">None</option>
                {% if categories %}
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" type="text" name="image" placeholder="Image URL (optional)">
        </div>
        <input class="btn btn-primary mb-3" type="submit" value="Create Listing">
    </form>

    {% if message == 'blank-fields' %}
        <h6 class="text-danger">Listing could not be created because some required fields were left empty.</h6>
    {% endif %}

    <script>
        function enforceMinMax(el){
            if(el.value !== "") {
                if(parseInt(el.value) < parseInt(el.min)) {
                    el.value = el.min;
                }
                if(parseInt(el.value) > parseInt(el.max)) {
                    el.value = el.max;
                }
            }
        }
    </script>

{% endblock %}